* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-1 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    background: transparent;
    position: absolute;
    top: 0;
    z-index: 5;
    cursor: pointer;
}

.heading-2 {
    font-size: 6rem;
    position: relative;
    color: transparent;
    z-index: 1;
}

.heading-2::after {
    content: "MOUNTAINS";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 10%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: -1;
}

.logo-image {
    background: transparent;
}

.nav-list {
    list-style-type: none;
    display: inline-flex;
    gap: 30px;
}

.list-item {
    text-decoration: underline;
    color: white;
    text-transform: uppercase;
}

.section-1 {
    position: relative;
}

.header-div {
    position: absolute;
    left: 35%;
    top: 20%;
}

.background-section1 {
    width: 100%;
}

#mountain {
    width: 100%;
}

.heading-1,
.heading-2 {
    font-size: 6rem;
}

.heading-1 {
    color: rgba(0, 0, 0, 0.8);
}

.heading-2,
.nav-heading-1,
.nav-heading-2 {
    color: transparent;
    background: linear-gradient(to bottom, rgba(65, 79, 107, 1) 60%, rgba(46, 55, 67, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-mask-image: url('section-1.png');
    mask-image: url('section-1.png');
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-position: center center;
}

.logo-and-heading {
    display: flex;
    gap: 15px;
    width: fit-content;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 8px;
}

.nav-link-container {
    list-style-type: none;
    display: inline-flex;
    gap: 30px;
}

.nav-2 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    background: transparent;
    top: 0;
    z-index: 5;
    cursor: pointer;
    background-color: white;
}

.nav-list-items {
    list-style-type: none;
    display: inline-flex;
    gap: 30px;
}

.nav-list-item1,
.nav-list-item2 {
    text-decoration: underline;
    text-transform: uppercase;
}


/* section - 2 */
.background-image-section-2{
    width: 100%;
    position: relative;
}
.section-2-image{
    width: 100%;
}
.portion-section-2{
    width: 100%;
    position: relative;
}
.rectangle-shape{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
    background-color: rgba(54,66,89,0.9);
}
.slider-images, .slider{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.slider-dot::before{
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: white;
}
.section-2-text{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5%;
    left: 25%;
    z-index: 10;
}
.section-2-heading{
    font-size: 100px;
    transform: translateY(24px);
    font-weight: 600;
    color: rgba(106,123,152,255);
}
.header-text{
    display: flex;
    align-items: end;
    margin-bottom: 0px;
}
.section-2-paragraph{
    color: rgba(67,77,89,255);
    padding-left: 50px;
    margin-top: 10px;
    max-width: 700px;
}

.section-2-small-heading{
    color: rgba(65,79,107,255);
    /* margin-bottom: 25px; */
    margin-left: 10px;
}
.dot::before{
    content: '';
    display: block;
    background-color: rgba(106,123,152,255);
    max-width: 20px;
    min-height: 20px;
}

/* 3rd section */
.climb-section{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
}
.nav-3{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    background: transparent;
    background-color: transparent;
    top: 0;
    z-index: 5;
    cursor: pointer;
    background-color: white;
}
.logo-and-heading-footer{
    display: flex;
    gap: 15px;
    width: fit-content;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 8px;
}
.section-3-heading{
    font-size: 100px;
    transform: translateY(24px);
    font-weight: 600;
    color: rgba(176,180,190,255);
}

.dot2::before{
    background-color: rgba(176,180,190,255) !important;
    content: '';
    display: block;
    max-width: 20px;
    min-height: 20px;
}
.section-3-small-heading{
    color: rgba(65,79,107,255);
    /* margin-bottom: 25px; */
    margin-left: 10px;
}
.section-3-paragraph{
    padding-left: 50px;
    margin: 20px 0;
    max-width: 700px;
}

/* section 4 */
.section-4{
    margin: 10px 0;
}
.section-4-nav{
    background-color: rgba(65,79,107,255);
}
.nav-4{
    display: inline-flex;
    margin-left: 250px;
    list-style: none;
    gap: 20px;
}
.nav-4-item{
    font-size: 20px;
    padding: 10px 20px;
    text-decoration: underline;
    color: rgba(176,180,190,255);
}

.active{
    background-color: rgba(176,180,190,255);
    color: rgba(65,79,107,255) !important;
}

.section-4-image {
    position: relative;
}

.bg-change {
    width: 100%;
}

.schedule-div {
    background-color: rgba(255, 255, 255, 0.8);
    width: 300px;
    padding: 10px;
    position: absolute;
    top: 100px;
    left: 500px;
}

.schedule-title {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 10px;
    color: rgba(64, 79, 108, 255);
}

.schedule-p {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: 5px 0;
}

.schedule-p:nth-child(4), .schedule-p:nth-child(6) {
    visibility: hidden;
}